.main_container{
    height: 21vh;
    width: 30vw;
    background-color: #FF4ADE;
    margin-top: 2vh;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 6.3vw;
}

.datetime_container{
    display: flex;
    border-radius: 3vh;
    width: 30vw;
    height: 7vh;
}

.date_section{
    font-size: 4vh;
    font-weight: bold;
    color: white;
    margin-top: 1vh;
    margin-left: 10vh;
    
}
.time_section{
    font-size: 4vh;
    font-weight: bold;
    color: white;
    margin-top: 1vh;
    margin-left: 4vh;
}
.weather_container{
    background-color: #101744;
    height: 15vh;
    border: transparent;
    border-radius: 0 0 3vh 3vh;
    display: flex;
    
}
.vertical_line{
    height: 7vh;
    width: 2px;
    background-color:white;
    margin-top: 4vh;
    margin-left: 4vh;
}
.weather_image{
    margin-left: 2vw;
}
.weather_image img{
    height: 7vh;
    width: 5vw;
    margin-top: 1vh;
    
}
.weather_image p{
    font-size: 2vh;
    
    margin-top: 2px;
    margin-left: 2vh;
}
.temp_c{
    font-size: 5vh;
   
    margin: 1vh 0 0 7vh;
}
.pressure_heading{
    margin-top: 1vh;
    margin-left: 7vh;
    display: flex;
}
.pressure_heading img{
    height: 3.4vh;
    width: 2.4vh;
}
.pressure_heading p{
    
    position: relative;
    top: -1vh;
    margin: 0 0 0 3vh;
    font-size: 100%;
}
.wind_kph{
    
    margin: 3.4vh;
}
.wind_kph img{
    height: 3vh;
    margin-top: -1vh;
}
.wind_kph p{
  
    position: relative;
    top: -6vh;
    left: 6vh;
}
.humidity{
    
    margin-top: -7vh;
    margin-left: 3vh;
    display: flex;
}
.humidity img{
    height: 3vh;
    margin-left: 1vh;
}
.humidity p{
    margin-left: 3vh;
    margin-top: -1vh;
}
.vertical_line2{
    height: 7vh;
    width: 2px;
    background-color:white;
    margin-top: 4vh;
    margin-left: 4vh;
}