@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300&family=Single+Day&display=swap');


.Registration{
    background-color: black;
    display: flex;
    flex-direction: row;
}

.Registration_img{
    height: 910px;
}
.inputField{
    display: flex;
    flex-direction: column;
}
.logo{
    font-family: 'Single Day', cursive;
    color: #72DB73;
    position: absolute;
    top: 60px;
    left: 1340px;
}
.logo_text{
    position: absolute;
    top: 115px;
    left: 1300px;
    font-size: 23px;
}
.error_msg{
    color: red;
    height: 12px;
    width: 295px;
    margin-left:275px;
}