* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.inputes{
  height: 185px;
  width: 410px;
  margin-top: 25px;
  border: transparent;
  margin-left: 275px;
}
.inputes::placeholder{
  padding-left: 10px;
}
.inputes1{
  margin-top: 185px;
}
.cheak_box{
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-left: -25px;
  height: 13px;
}
.cheakbox_text{
  font-size: 13px;
  color: #7C7C7C;
  margin-left:-300px;
}
.signup_button{
  height: 45px;
  width: 410px;
  border-radius: 16px;
  background-color: #72DB73;
  margin-top: 23px;
  margin-left: 275px;
  cursor: pointer;
}
p{
  margin-left: 275px;
  margin-top:10px;
} 
.highlight{
  color: #72DB73;
}
.tandc{
  margin-top: -200px;
}